.username {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1%;
}

.edit-button {
    text-align: center;
}

.btn {
    padding: 0.5% 1%;
    justify-content: center;
    border: 1px solid rgb(149,144,194);
    font-size: 12px;
}

.lists-header {
    padding-top: 5%;
    text-align: center;
    font-family: 'Roboto';
}